@use "index" as h;

:root {
   --color-white: #ffffff;
   --color-text-main: #1e1e1e;
   --color-text-secondary: #666666;
   --color-accent-blue: #2587f9;
   --color-accent-green: #2bac68;
   --color-button: #34ae6b;
   --color-bg-light: #eef2fa;
   --color-border: #e0e0e0;

   --font-main: "Roboto", sans-serif;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
   font-family: var(--font-main);
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.3;
   letter-spacing: 0em;
   color: var(--color-text-main);
}

.container {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 15px;
   width: 100%;
}

main {
   flex: 1 0 auto;
}

footer {
   flex-shrink: 0;
   font-size: h.$fs-small;
}

h1,
h2,
h3 {
   font-weight: 700;
}

h1 {
   font-size: h.$fs-h1;
}
h2 {
   font-size: h.$fs-h2;
}
h3 {
   font-size: h.$fs-h3;
}
h4 {
}
h5 {
}
h6 {
}

a {
   text-decoration: none;
   color: var(--color-text-main);
}

button {
   background-color: transparent;
   border: none;
}

.action-button {
   padding: 16px 35px;
   background-color: h.$button-color;
   border-radius: 60px;
   border: none;
   font-weight: 700;
   line-height: 1.2;
   color: var(--color-white);
   cursor: pointer;
}
